# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Django
db.sqlite3
media/
staticfiles/
.env

# VS Code / PyCharm
.vscode/
.idea/

# Byte-compiled / cache
*.log
*.pot
*.pyc
*.mo

# Virtual environments
venv/
env/
.venv/

# Docker
*.pid
*.seed
*.pid.lock
mysql_data/
postgres_data/
static_volume/
media_volume/
docker-compose.override.yml

# OS junk files
.DS_Store
Thumbs.db

# Migrations (optional – keep if you want versioned)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
