{% load static %}
<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title>We Are People | Blogs</title>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'js/plugins/revslider/public/assets/css/settings.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/reset.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/wordpress.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/animation.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/ilightbox/ilightbox.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/jqueryui/custom.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'js/plugins/mediaelement/mediaelementplayer-legacy.min.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'js/plugins/flexslider/flexslider.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/tooltipster.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/odometer-theme-minimal.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/menus/leftalignmenu.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/themify-icons.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/grandconference_custom_css.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/kirki-styles.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/grid.css' %}"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Work+Sans%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CPoppins%3A300%2Cregular%2C500%2C600%2C700%2C900&amp;subset"
      type="text/css"
      media="all"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Poppins:600%2C700%2C400%2C500"
      rel="stylesheet"
      property="stylesheet"
      type="text/css"
      media="all"
    />

      <link
      rel="icon"
      href="{% static 'upload/YOUTHRISE-INTERNATIONAL.png' %}"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="{% static 'upload/YOUTHRISE-INTERNATIONAL.png' %}"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="{% static 'upload/YOUTHRISE-INTERNATIONAL.png' %}"
    />

    <meta property="og:image" content="{% static 'upload/wep2.jpg' %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Recommended additional Open Graph tags -->
  <meta property="og:title" content="We Are People Conference">
  <meta property="og:description" content="A Platform where young leaders, policymakers, and changemakers gathers to shape Nigeria’s future.">
  <meta property="og:url" content="{% static 'upload/wep2.jpg' %}">
  <meta property="og:type" content="website">


    <meta
      name="msapplication-TileImage"
      content="../../../themegoods-cdn-pzbycso8wng.stackpathdns.com/grandconference/demo/upload/cropped-TG-Thumb-270x270.html"
    />
<style>
   .highlighted {
    background-color: #83cf36; /* orange */
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 3px;
}
   /* From Uiverse.io by alexruix */ 
.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 max-width: 190px;
}

.input {
 width: 100%;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(234,76,137,0.4);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}
</style>
   <style>
      /* Center footer content on mobile */
@media (max-width: 768px) {
  #footer .sidebar_widget.three {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center horizontally */
    text-align: center;   /* Center text */
    gap: 20px;            /* Space between blocks */
  }

  #footer .sidebar_widget.three li {
    width: 100%;          /* Full width on mobile */
    max-width: 400px;     /* Optional: keeps it tidy */
  }

  #footer img {
    margin: 0 auto;       /* Center logo */
    display: block;
  }

  #footer .social_wrapper ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    list-style: none;
  }

  #footer button {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

    </style>
  </head>
  <body
    class="page-template page-template-page_r page-template-page_r-php page page-id-118 page-child parent-pageid-95 woocommerce-no-js"
  >
  <nav
      class="navbar navbar-expand-lg sticky-top"
      style="background-color: #091e1b"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"
          ><img
            class=""
            style="width: 250px; height: 50px"
            src="{% static 'upload/Logo Icon.png' %}"
            alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'home' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'about' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'sponsor' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Become a Sponsor</a
              >
            </li>
             <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'programme' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Get Programme</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'exhibitions' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Become an Exhibitor</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'blog' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'speakers' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Speakers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'gallery_list_main' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Gallery</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'registration' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'contact' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Contact Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'FAQs' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >FAQs</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="background-color: aliceblue;" id="page_caption" class="blog_wrapper">
      <div class="page_title_wrapper">
        <div class="standard_wrapper">
          <div class="page_title_inner">
            <div class="page_title_content">
              <h1 style="color: #091e1b;">Blogs</h1>
              
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div id="page_content_wrapper" class="blog_wrapper">
      <div class="inner">
       
        <!-- Begin main content -->
        <div class="inner_wrapper">
          <div class="page_content_wrapper"></div>
    
          <div class="sidebar_content">
            <!-- Begin each blog post -->
            {% load highlight %}
            {% for blog in blogs %}
            <div id="post-{{ blog.id }}" class="post_wrapper">
              <div class="post_content_wrapper">
                <div class="post_header">
                  <div class="post_header_title">
                    <h5>
                      <a href="{% url 'bloglist' blog.id %}" title="{{ blog.title }}">
                        {{ blog.title|highlight:query|safe}}
                      </a>
                    </h5>
                  </div>
                  <div class="post_detail single_post">
                    <span class="post_info_date">
                      <a href="{% url 'bloglist' blog.id %}" title="{{ blog.title }}">
                        {{ blog.created_at|date:"F d, Y" }}
                      </a>
                    </span>
                    
                  </div>
                </div>
    
                <div class="post_img static">
                  <a href="{% url 'bloglist' blog.id %}">
                    {% if blog.images.first %}
                      <img src="{{ blog.images.first.image.url }}" alt="{{ blog.title }}" />
                    {% else %}
                      <img src="{% static 'upload/default.jpg' %}" alt="No image" />
                    {% endif %}
                  </a>
                </div>
    
                <br class="clear" />
    
                <p>
                  {{ blog.Keynote|truncatewords:30|highlight:query|safe }}
                </p>
    
                <div class="post_button_wrapper">
                  <a class="readmore" href="{% url 'bloglist' blog.id %}">
                    Read More <span class="ti-angle-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <br class="clear" />
            {% empty %}
              <p>No blogs found.</p>
            {% endfor %}
            <!-- End each blog post -->
          </div>
    
          <!-- Sidebar -->
          <div class="sidebar_wrapper">
            <div class="sidebar_top"></div>
            <div class="sidebar">
              <div class="content">
                <ul class="sidebar_widget">
                  <li class="widget GrandConference_Cat_Posts">
                    <h2 class="widgettitle"><span>News and Stories</span></h2>
                    <ul class="posts blog withthumb">
                          <!-- From Uiverse.io by alexruix -->
                              <form action="" method="GET">
                                <div style="margin-bottom: 20px; padding-bottom: 10px;" class="group">
                                  <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                                  <input placeholder="Search" type="search" class="input" name="q">
                                </div>
                              </form>

                      
                      {% for blog in blogs %}
                      <li>
                        <div class="post_circle_thumb">
                          <a href="{% url 'bloglist' blog.id %}">
                            {% if blog.images.first %}
                              <img class="alignleft frame post_thumb" src="{{ blog.images.first.image.url }}" alt="{{ blog.title }}" />
                            {% else %}
                              <img class="alignleft frame post_thumb" src="{% static 'upload/default_thumb.jpg' %}" alt="No image" />
                            {% endif %}
                          </a>
                        </div>
                        <a href="{% url 'bloglist' blog.id %}">{{ blog.title }}</a>
                        <div class="post_attribute">{{ blog.created_at|date:"F d, Y" }}</div>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <br class="clear" />
            <div class="sidebar_bottom"></div>
          </div>
        </div>
        <!-- End main content -->
      </div>
    </div>
    

    <!-- footer -->
   <div id="footer" class="ppb_wrapper" style="background: #091e14; padding: 50px 20px;">
      <ul class="sidebar_widget three">
        <li id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p>
              <img
                src="{% static 'upload/Logo Icon.png' %}"
                width="165"
                height="20"
                alt=""
              />
            </p>
            
          </div>
        </li>
         <li id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p> <div style="font-size: large; font-weight: bold;">CONTACT US</div>
             <br>
              EMAIL: <a href="mailto:">conference@wearepeople.org</a> <br>
              PHONE NUMBER: +2349045646031 <br>
              ADDRESS: PLOT NO.1716 CADASTRAL ZONE B11 <br>
              KAURA DISTRICT FCT. ABUJA
            </p>
                     
          </div>
        </li>
         <li id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p style="font-size: large; font-weight: bold;">
              NEWSLETTER SIGNUP
            </p>
            <p>Register to get our Newsletter </p>

            <form
            id="newsletter-form"
              class="mc4wp-form mc4wp-form-1234"
              method="post"
              data-id="1234"
              data-name="Newsletter Form"
              action="{% url 'newsletter_signup' %}">
              {% csrf_token %}
            <input id="clear" type="email" name="email" required style="background-color: #123f38; border: none; color: wheat;">
            <button style=" display: flex; justify-content: center; margin-top: 10px; width: 200px; background-color: #93b144; border: 0; " class="button medium">SUBMIT</button></form>
            <div id="newsletter-message"></div>
          </div>
        </li>
      </ul>
    </div>

    <div id="side_menu_wrapper" class="overlay_background">
      <a id="close_share" href="javascript:;"><span class="ti-close"></span></a>
    </div>




<script>
document.getElementById("newsletter-form").addEventListener("submit", function(e) {
  e.preventDefault();

  let formData = new FormData(this);

  fetch(this.action, {
    method: "POST",
    body: formData,
    headers: {
      "X-Requested-With": "XMLHttpRequest"
    }
  })
  .then(response => response.json())
  .then(data => {
    let msg = document.getElementById("newsletter-message");
    if (data.type === "success") {
      msg.innerHTML = `<p style="color:green;">${data.message}</p>`;
    } else {
      msg.innerHTML = `<p style="color:red;">${data.message || "Error occurred"}</p>`;
    }
  });
  document.getElementById("clear").value = "";
});
</script>


    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/plugins/ui/core.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.requestAnimationFrame.js' %}"></script>
    <script src="{% static 'js/plugins/ilightbox.packed.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.easing.js' %}"></script>
    <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.isotope.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.masory.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.tooltipster.min.js' %}"></script>
    <script src="{% static 'js/plugins/jarallax.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/plugins/custom_plugins.js' %}"></script>
    <script src="{% static 'js/plugins/custom.js' %}"></script>
    <script src="{% static 'js/plugins/custom_onepage.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/plugins/imagesloaded.min.js' %}"></script>
    <script src="{% static 'js/plugins/masonry.min.js' %}"></script>
    <script src="{% static 'js/plugins/custom_sidebar.min.js' %}"></script>
    <script src="{% static 'js/plugins/jarallax-video.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/plugins/custom_clock.js' %}"></script>
    <script src="{% static 'js/plugins/ui/widget.min.js' %}"></script>
    <script src="{% static 'js/plugins/ui/accordion.min.js' %}"></script>
    <script src="{% static 'js/plugins/custom-accordion.js' %}"></script>
  </body>
</html>
