{% load static %}

   <div id="footer" class="ppb_wrapper" style="background: #091e14; padding: 50px 20px">
      <ul class="sidebar_widget three">
        <li id="text-2" class="widget widget_text">
          <div style="display: grid; justify-content: center;" class="textwidget">
            <p>
              <img
                src="{% static 'upload/logo.png' %}"
                width="80px"
                height="80px"
                alt=""
              />
            </p>
            
          </div>
          <div style="margin-top:20px; display: grid; justify-content: center;">
                            <div class="social_wrapper shortcode dark ">
                                <ul>
                                    <li class="facebook"><a target="_blank" title="Facebook" href="https://www.facebook.com/share/1FKnNQsLf7/"><i class="fab fa-facebook"></i></a></li>
                                    <li class="twitter"><a target="_blank" title="Twitter" href="https://x.com/YouthRISE_NG?t=e-NI-10MDXF9fUSDH4l-uw&s=09"><i class="fab fa-twitter"></i></a></li>
                                    <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li class="linkedin"><a target="_blank" title="Lindein" href="https://www.linkedin.com/company/youthrise-nigeria/"><i class="fab fa-linkedin"></i></a></li>
                                    <li class="instagram"><a target="_blank" title="Instagram" href="https://www.instagram.com/youthrisenigeria?igsh=ZHl5MHJ0c25kcjYx"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
            </div>
        </li>
         <li id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p> <div style="font-size: large; font-family: 'Roboto Slab'; font-weight: bold; display: grid; justify-content: center;">CONTACT US</div>
             
              <p style="display: grid; font-family: 'Poppins'; justify-content: center;"><a style="text-transform: uppercase;" href="mailto:">info@wearepeopleconference.org</a> </p>
              <p style="display: grid; font-family: 'Poppins'; justify-content: center;">PHONE NUMBER: +2349045646031</p> 
              <p style="display: grid; font-family: 'Poppins';  justify-content: center;">ADDRESS: PLOT NO.1716 CADASTRAL ZONE B11</p> 
              <p style="display: grid; font-family: 'Poppins';  justify-content: center;">KAURA DISTRICT FCT. ABUJA</p>
            </p>
                     
          </div>
        </li>
         <li id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p style="font-size: large; font-family: 'Roboto Slab'; font-weight: bold; font-weight: bold; display: grid; justify-content: center;">
              NEWSLETTER SIGNUP
            </p>
            <p style="display: grid; font-family: 'Poppins'; justify-content: center; text-transform: uppercase;" >Register to get our Newsletter </p>

            <form
            style="display: grid; justify-content: center;"
            id="newsletter-form"
              class="mc4wp-form mc4wp-form-1234"
              method="post"
              data-id="1234"
              data-name="Newsletter Form"
              action="{% url 'newsletter_signup' %}">
              {% csrf_token %}
            <input id="clear" type="email" name="email" required style="background-color: #123f38; border: none; color: wheat;">
            <button style=" display: flex; justify-content: center; margin-top: 10px; width: 200px; background-color: #93b144; border: 0; " class="button medium">SUBMIT</button></form>
            <div id="newsletter-message"></div>
          </div>
          </form>
        </li>
      </ul>
    </div>

    <div id="side_menu_wrapper" class="overlay_background">
      <a id="close_share" href="javascript:;"><span class="ti-close"></span></a>
    </div>
