{% load static %}
<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title>We Are People | faqs</title>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'js/plugins/revslider/public/assets/css/settings.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/reset.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/wordpress.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/animation.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/ilightbox/ilightbox.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/jqueryui/custom.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'js/plugins/mediaelement/mediaelementplayer-legacy.min.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'js/plugins/flexslider/flexslider.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/tooltipster.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/odometer-theme-minimal.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/menus/leftalignmenu.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/themify-icons.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/grandconference_custom_css.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/kirki-styles.css' %}"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/grid.css' %}"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Work+Sans%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CPoppins%3A300%2Cregular%2C500%2C600%2C700%2C900&amp;subset"
      type="text/css"
      media="all"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Poppins:600%2C700%2C400%2C500"
      rel="stylesheet"
      property="stylesheet"
      type="text/css"
      media="all"
    />

    <link
      rel="icon"
      href="{% static 'upload/cropped-TG-Thumb-32x32.png' %}"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="{% static 'upload/cropped-TG-Thumb-192x192.png' %}"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="{% static 'upload/cropped-TG-Thumb-180x180.png' %}"
    />

    <meta
      name="msapplication-TileImage"
      content="../../../themegoods-cdn-pzbycso8wng.stackpathdns.com/grandconference/demo/upload/cropped-TG-Thumb-270x270.html"
    />
  </head>
  <body
    class="page-template page-template-page_r page-template-page_r-php page page-id-118 page-child parent-pageid-95 woocommerce-no-js"
    style="background: #e2fbed"
  >
    <!-- Input Bootstrap NavBar here -->
    <nav
      class="navbar navbar-expand-lg sticky-top"
      style="background-color: #000000"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"
          ><img
            class=""
            style="width: 250px; height: 50px"
            src="{% static 'upload/Logo Icon.png' %}"
            alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'home' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'about' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'sponsor' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Sponsorship</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'exhibitions' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Exhibition</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'blog' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'speakers' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Speakers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'gallery_list_main' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Gallery</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'registration' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'contact' %}"
                style="color: white; transition: 0.3s"
                onmouseover="this.style.color='#ffcc00'"
                onmouseout="this.style.color='white'"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Bootstrap NavBar End -->
    <!-- Image Background -->

    <!-- main content -->
    <div class="ppb_wrapper">
      <div class="one fullwidth">
        <div
          id="rev_slider_1_1_wrapper"
          class="rev_slider_wrapper fullwidthbanner-container"
          data-source="gallery"
          style="
            margin: 0px auto;
            background: #000000;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
          "
        >
          <!-- START REVOLUTION SLIDER 5.4.5.1 fullwidth mode -->
          <div
            id="rev_slider_1_1"
            class="rev_slider fullwidthabanner"
            style="display: none"
            data-version="5.4.5.1"
          >
            <ul>
              <!-- SLIDE  -->
              <li
                data-index="rs-1"
                data-transition="fade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="300"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Slide"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <!-- MAIN IMAGE -->
                <img
                  src="{% static 'upload/27972070586_73eb8ef975_o.jpg' %}"
                  alt=""
                  title="27972070586_73eb8ef975_o"
                  width="1440"
                  height="960"
                  data-bgposition="center center"
                  data-bgfit="cover"
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg"
                  data-no-retina=""
                />
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-1-layer-1"
                  data-x="center"
                  data-hoffset=""
                  data-y="center"
                  data-voffset="-15"
                  data-width="['auto']"
                  data-height="['auto']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"delay":1000,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textalign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="
                    z-index: 5;
                    white-space: nowrap;
                    font-size: 70px;
                    line-height: 22px;
                    font-weight: 600;
                    color: rgba(255, 45, 85, 1);
                    font-family: Poppins;
                    text-transform: uppercase;
                  "
                >
                  Conference
                </div>

                <!-- LAYER NR. 2 -->
                <div
                  class="tp-caption tp-resizeme"
                  id="slide-1-layer-2"
                  data-x="center"
                  data-hoffset=""
                  data-y="center"
                  data-voffset="-80"
                  data-width="['auto']"
                  data-height="['auto']"
                  data-type="text"
                  data-responsive_offset="on"
                  data-frames='[{"delay":1000,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textalign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
                  style="
                    z-index: 6;
                    white-space: nowrap;
                    font-size: 70px;
                    line-height: 22px;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 1);
                    font-family: Poppins;
                    text-transform: uppercase;
                  "
                >
                  We are People
                </div>

                <!-- LAYER NR. 3 -->
                <a
                  class="tp-caption rev-btn rev-withicon"
                  href="#"
                  target="_self"
                  id="slide-1-layer-5"
                  data-x="center"
                  data-hoffset=""
                  data-y="center"
                  data-voffset="140"
                  data-width="['auto']"
                  data-height="['auto']"
                  data-type="button"
                  data-actions=""
                  data-responsive_offset="on"
                  data-responsive="off"
                  data-frames='[{"delay":1000,"speed":800,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":500,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(255,45,85,1);bc:rgba(30,198,182,1);bs:solid;bw:0 0 0 0;"}]'
                  data-textalign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[12,12,12,12]"
                  data-paddingright="[35,35,35,35]"
                  data-paddingbottom="[12,12,12,12]"
                  data-paddingleft="[35,35,35,35]"
                  style="
                    z-index: 8;
                    white-space: nowrap;
                    font-size: 17px;
                    line-height: 17px;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 1);
                    font-family: Poppins;
                    background-color: rgb(254, 26, 1);
                    border-color: rgba(255, 74, 82, 1);
                    border-radius: 30px 30px 30px 30px;
                    outline: none;
                    box-shadow: none;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    cursor: pointer;
                    text-decoration: none;
                  "
                  >Register
                </a>
              </li>
            </ul>
            <div
              class="tp-bannertimer tp-bottom"
              style="visibility: hidden !important"
            ></div>
          </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
      </div>

      <!-- About Section -->
      <div
        class="one withsmallpadding ppb_header"
        style="
          padding-bottom: 40px !important;
          text-align: left;
          padding: 70px 0 70px 0;
          background-color: #000000;
          color: #ffffff;
        "
      >
        <div class="standard_wrapper">
          <div class="page_content_wrapper">
            <div class="inner">
              <div style="margin: auto; width: 70%">
                <h2 class="ppb_title" style="color: #ffffff; text-align: left">
                  About The Event
                </h2>
                <div class="ppb_header_content">
                  <p>
                    Nihilne te nocturnum praesidium Palati, nihil urbis
                    vigiliae. Non equidem invideo, miror magis posuere velit
                    aliquet. Qui ipsorum lingua Celtae, nostra Galli
                    appellantur. Prima luce, cum quibus mons aliud consensu ab
                    eo. Petierunt uti sibi concilium totius Galliae in diem
                    certam indicere. Nisl cras vitae wisi odio amet.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Venue Section -->
      <div
        class="one withsmallpadding ppb_text"
        style="
          padding-top: 0px !important;
          text-align: left;
          padding: 40px 0 40px 0;
          background-color: #000000;
          color: #ffffff !important;
        "
      >
        <div class="standard_wrapper">
          <div class="page_content_wrapper">
            <div class="inner">
              <div style="margin: auto; width: 70%">
                <div class="one_third" style="">
                  <p>
                    <strong>WHERE</strong>
                    <br />
                    Fort Mason Center <br />
                    San Fancisco, CA
                  </p>
                </div>
                <div class="one_third" style="">
                  <p>
                    <strong>WHEN</strong>
                    <br />
                    Sunday to Wednesday <br />
                    July 23 to 26, 2017
                  </p>
                </div>
                <div class="one_third last" style="">
                  <a class="button" href="#">View Speakers</a>
                </div>
                <p>
                  <br class="clear" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Short Description of Events  -->
      <div class="one">
        <div
          class="one_half_bg parallax"
          style="
            background-image: url('/static/upload/29969985723_6c5d98cc97_o.jpg');
            height: 550px;
          "
        ></div>
        <div class="one_half_bg" style="padding: 85px">
          <h2 class="ppb_title" style="color: #ff2d54">
            The New Era of Tech Companies
          </h2>
          <div class="page_tagline" style="">
            Drawing thousands of the world's technology leaders together to
            learn and do business,
          </div>
          <div class="ppb_header_content">
            <p>
              Meh synth Schlitz, tempor duis single-origin coffee ea next level
              ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit
              hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil,
              flexitarian Truffaut synth art party deep v chillwave. Seitan High
              Life reprehenderit consectetur cupidatat kogi. Et leggings fanny
              pack, elit bespoke vinyl art party Pitchfork selfies master
              cleanse
            </p>
          </div>
        </div>
        <br class="clear" />
      </div>
      <div class="one">
        <div class="one_half_bg textright" style="padding: 85px">
          <h2 class="ppb_title" style="color: #ff2d54">
            We have top executive &amp; start up here
          </h2>
          <div class="page_tagline" style="">
            Drawing thousands of the world&#039;s technology leaders together to
            learn and do business,
          </div>
          <div class="ppb_header_content">
            <p>
              Meh synth Schlitz, tempor duis single-origin coffee ea next level
              ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit
              hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil,
              flexitarian Truffaut synth art party deep v chillwave. Seitan High
              Life reprehenderit consectetur cupidatat kogi. Et leggings fanny
              pack, elit bespoke vinyl art party Pitchfork selfies master
              cleanse
            </p>
          </div>
        </div>
        <div
          class="one_half_bg parallax"
          style="
            background-image: url(' static/upload/29994728733_d2ebe09397_o.jpg');
            height: 550px;
          "
        ></div>
        <br class="clear" />
      </div>
      <div
        class="one withsmallpadding ppb_countdown_image parallax withbg"
        style="
          background-image: url('static/upload/27899245542_531ed54fc7_o.jpg');
          background-position: center top;
          text-align: center;
          padding: 100px 0 100px 0;
          color: #ffffff;
        "
      >
        <!-- Date countdown -->
        <div
          class="overlay_background"
          style="
            background: #000000;
            background: rgb(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.5);
          "
        ></div>

        <div class="standard_wrapper">
          <div class="page_content_wrapper">
            <div class="inner">
              <div style="margin: auto; width: 100%">
                <h2
                  class="ppb_title"
                  style="color: #ffffff; text-align: center"
                >
                  Hurry Up!
                </h2>
                <div
                  class="page_tagline"
                  style="color: #ffffff; text-align: center"
                >
                  Last year our tickets sold fast so don’t miss. Conference will
                  start in
                </div>
                <div class="ppb_header_content">
                  <div
                    id="clock1573568515278500141"
                    data-date="2025-09-19"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Speaker Tagline -->
      <div
        class="one withsmallpadding ppb_header"
        style="
          text-align: center;
          padding: 0px 0 0px 0;
          margin-top: 20px;
          margin-bottom: 60px;
        "
      >
        <div class="standard_wrapper">
          <div class="page_content_wrapper">
            <div class="inner">
              <div style="margin: auto; width: 100%">
                <h2 class="ppb_title" style="text-align: center">
                  Our Speakers
                </h2>
                <div class="page_tagline" style="text-align: center">
                  This is sample of page tagline and you can set it up using
                  page option
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Speakers Grid  -->
      <div class="ppb_speaker_grid one nopadding">
        <div
          class="page_content_wrapper page_main_content sidebar_content full_width fixed_column"
        >
          <div id="1573568515856366234" data-columns="5">
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-211050-500x500.jpg' %}"
                  alt="John Doe"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>John Doe</h4>
                  <div class="speaker_desc">Founder Envato</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-25845-500x500.jpg' %}"
                  alt="Joanna Smith"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Joanna Smith</h4>
                  <div class="speaker_desc">VP Design Apple</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-175696-500x500.jpg' %}"
                  alt="Luis Gallop"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Luis Gallop</h4>
                  <div class="speaker_desc">Head Engineering Dell</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-295821-500x500.jpg' %}"
                  alt="Katie Stricker"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Katie Stricker</h4>
                  <div class="speaker_desc">Co-founder Blackbox</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-69212-500x500.jpg' %}"
                  alt="Espen Brunberg"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Espen Brunberg</h4>
                  <div class="speaker_desc">Web Technologist</div>
                </div>
              </a>
            </div>
            <br class="clear" />
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-211048-500x500.jpg' %}"
                  alt="Kevin Chase"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Kevin Chase</h4>
                  <div class="speaker_desc">Chairman Tesla</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-285171-500x500.jpg' %}"
                  alt="Piera Mcclure"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Piera Mcclure</h4>
                  <div class="speaker_desc">Creative Director Slack</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-199943-500x500.jpg' %}"
                  alt="Robin Johnson"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Robin Johnson</h4>
                  <div class="speaker_desc">VP Design Microsoft</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-241734-500x500.jpg' %}"
                  alt="Jeff Robins"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Jeff Robins</h4>
                  <div class="speaker_desc">Partner Startup</div>
                </div>
              </a>
            </div>
            <div class="element grid one_fifth_bg">
              <a class="speaker_grid_link" href="#">
                <img
                  src="{% static 'upload/pexels-photo-289704-500x500.jpg' %}"
                  alt="Danielle Ahn"
                  class=""
                />
                <div class="speaker_info_wrapper">
                  <h4>Danielle Ahn</h4>
                  <div class="speaker_desc">Co-founder Zipcar</div>
                </div>
              </a>
            </div>
          </div>

          <br class="clear" />
        </div>
      </div>
    </div>

    <!-- Get tickets  -->
    <div
      class="one withsmallpadding ppb_header_youtube withbg parallax"
      data-jarallax-video="https://www.youtube.com/watch?v=OhnZrejDVYo"
      style="text-align: center; padding: 100px 0 100px 0; color: #ffffff"
    >
      <div
        class="overlay_background"
        style="
          background: #000000;
          background: rgb(0, 0, 0, 0.5);
          background: rgba(0, 0, 0, 0.5);
        "
      ></div>
      <div class="standard_wrapper">
        <div class="page_content_wrapper">
          <div class="inner">
            <div style="margin: auto; width: 65%">
              <h2 class="ppb_title" style="text-align: center">
                Get Ticket Now!
              </h2>
              <div
                class="page_tagline"
                style="color: #ffffff; text-align: center"
              >
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Provident quam nobis, autem et doloribus vel repellendus minima
                nulla alias vitae.
              </div>
              <div class="ppb_header_content">
                <p><a class="button medium" href="#">Register</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div id="footer" class="ppb_wrapper">
      <ul class="sidebar_widget three">
        <li id="text-2" class="widget widget_text">
          <div class="textwidget">
            <p>
              <img
                src="{% static 'upload/Logo Icon.png' %}"
                width="158"
                height="20"
                alt=""
              />
            </p>
            <p>{{ footer_description|default:"Abuja is a great place" }}</p>

            <!-- Social Icons -->
            <div style="margin-top: 20px">
              <div class="social_wrapper shortcode dark">
                <ul>
                  <li class="facebook">
                    <a target="_blank" title="Facebook" href="#"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li class="twitter">
                    <a
                      target="_blank"
                      title="Twitter"
                      href="https://twitter.com/#"
                      ><i class="fa fa-twitter"></i
                    ></a>
                  </li>
                  <li class="youtube">
                    <a target="_blank" title="Youtube" href="#"
                      ><i class="fa fa-youtube"></i
                    ></a>
                  </li>
                  <li class="google">
                    <a target="_blank" title="Google+" href="#"
                      ><i class="fa fa-google-plus"></i
                    ></a>
                  </li>
                  <li class="instagram">
                    <a
                      target="_blank"
                      title="Instagram"
                      href="https://instagram.com/tedxvienna"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="side_menu_wrapper" class="overlay_background">
      <a id="close_share" href="javascript:;"><span class="ti-close"></span></a>
    </div>
    <script>
      window.addEventListener("scroll", function () {
        const navbar = document.querySelector(".navbar");
        if (window.scrollY > 50) {
          navbar.classList.remove("navbar-transparent");
          navbar.classList.add("navbar-colored");
        } else {
          navbar.classList.add("navbar-transparent");
          navbar.classList.remove("navbar-colored");
        }
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/plugins/revslider/public/assets/js/extensions/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/plugins/ui/core.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.requestAnimationFrame.js' %}"></script>
    <script src="{% static 'js/plugins/ilightbox.packed.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.easing.js' %}"></script>
    <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.isotope.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.masory.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.tooltipster.min.js' %}"></script>
    <script src="{% static 'js/plugins/jarallax.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/plugins/custom_plugins.js' %}"></script>
    <script src="{% static 'js/plugins/custom.js' %}"></script>
    <script src="{% static 'js/plugins/custom_onepage.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/plugins/imagesloaded.min.js' %}"></script>
    <script src="{% static 'js/plugins/masonry.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCmVhK5ZjYRjzAe-e9ZKS1mA3NBPuViwQ"></script>
    <script src="{% static 'js/plugins/jquery.simplegmaps.min.js' %}"></script>
    <script src="{% static 'js/plugins/jarallax-video.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/plugins/custom_clock.js' %}"></script>
    <script>
      /* <![CDATA[ */
      var mc4wp_forms_config = [];
      /* ]]> */
    </script>
    <script>
      jQuery(document).ready(function () {
        jQuery("#map1566739327259493916").simplegmaps({
          MapOptions: {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 8,
            scrollwheel: false,
          },
        });
      });
    </script>
    <script type="text/javascript">
      function setREVStartSize(e) {
        try {
          var i = jQuery(window).width(),
            t = 9999,
            r = 0,
            n = 0,
            l = 0,
            f = 0,
            s = 0,
            h = 0;
          if (
            (e.responsiveLevels &&
              (jQuery.each(e.responsiveLevels, function (e, f) {
                f > i && ((t = r = f), (l = e)),
                  i > f && f > r && ((r = f), (n = e));
              }),
              t > r && (l = n)),
            (f = e.gridheight[l] || e.gridheight[0] || e.gridheight),
            (s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth),
            (h = i / s),
            (h = h > 1 ? 1 : h),
            (f = Math.round(h * f)),
            "fullscreen" == e.sliderLayout)
          ) {
            var u = (e.c.width(), jQuery(window).height());
            if (void 0 != e.fullScreenOffsetContainer) {
              var c = e.fullScreenOffsetContainer.split(",");
              if (c)
                jQuery.each(c, function (e, i) {
                  u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u;
                }),
                  e.fullScreenOffset.split("%").length > 1 &&
                  void 0 != e.fullScreenOffset &&
                  e.fullScreenOffset.length > 0
                    ? (u -=
                        (jQuery(window).height() *
                          parseInt(e.fullScreenOffset, 0)) /
                        100)
                    : void 0 != e.fullScreenOffset &&
                      e.fullScreenOffset.length > 0 &&
                      (u -= parseInt(e.fullScreenOffset, 0));
            }
            f = u;
          } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
          e.c.closest(".rev_slider_wrapper").css({
            height: f,
          });
        } catch (d) {
          console.log("Failure at Presize of Slider:" + d);
        }
      }
    </script>
    <script>
      (function () {
        function addEventListener(element, event, handler) {
          if (element.addEventListener) {
            element.addEventListener(event, handler, false);
          } else if (element.attachEvent) {
            element.attachEvent("on" + event, handler);
          }
        }

        function maybePrefixUrlField() {
          if (this.value.trim() !== "" && this.value.indexOf("http") !== 0) {
            this.value = "http://" + this.value;
          }
        }

        var urlFields = document.querySelectorAll(
          '.mc4wp-form input[type="url"]'
        );
        if (urlFields && urlFields.length > 0) {
          for (var j = 0; j < urlFields.length; j++) {
            addEventListener(urlFields[j], "blur", maybePrefixUrlField);
          }
        } /* test if browser supports date fields */
        var testInput = document.createElement("input");
        testInput.setAttribute("type", "date");
        if (testInput.type !== "date") {
          /* add placeholder & pattern to all date fields */
          var dateFields = document.querySelectorAll(
            '.mc4wp-form input[type="date"]'
          );
          for (var i = 0; i < dateFields.length; i++) {
            if (!dateFields[i].placeholder) {
              dateFields[i].placeholder = "YYYY-MM-DD";
            }
            if (!dateFields[i].pattern) {
              dateFields[i].pattern =
                "[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])";
            }
          }
        }
      })();
    </script>
    <script type="text/javascript">
      function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage =
          "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage +=
          "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage +=
          "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage +=
          "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage =
          "<span style='font-size:16px;color:#BC0C06;'>" +
          errorMessage +
          "</span>";
        jQuery(sliderID).show().html(errorMessage);
      }
    </script>
    <script>
      var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
      var htmlDivCss = "";
      if (htmlDiv) {
        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
      } else {
        var htmlDiv = document.createElement("div");
        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
        document
          .getElementsByTagName("head")[0]
          .appendChild(htmlDiv.childNodes[0]);
      }
    </script>
    <script type="text/javascript">
      setREVStartSize({
        c: jQuery("#rev_slider_1_1"),
        gridwidth: [1240],
        gridheight: [800],
        sliderLayout: "fullwidth",
      });

      var revapi1,
        tpj = jQuery;

      tpj(document).ready(function () {
        if (tpj("#rev_slider_1_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_1_1");
        } else {
          revapi1 = tpj("#rev_slider_1_1")
            .show()
            .revolution({
              sliderType: "standard",
              jsFileLocation: "js/plugins/revslider/public/assets/js/",
              sliderLayout: "fullwidth",
              dottedOverlay: "none",
              delay: 9000,
              navigation: {
                onHoverStop: "off",
              },
              visibilityLevels: [1240, 1024, 778, 480],
              gridwidth: 1240,
              gridheight: 800,
              lazyType: "none",
              shadow: 0,
              spinner: "spinner3",
              stopLoop: "off",
              stopAfterLoops: -1,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              disableProgressBar: "on",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
              },
            });
        }
      }); /*ready*/
    </script>
    <script>
      var htmlDivCss =
        "	#rev_slider_1_1_wrapper .tp-loader.spinner3 div { background-color: #ff2d55 !important; } ";
      var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
      if (htmlDiv) {
        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
      } else {
        var htmlDiv = document.createElement("div");
        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
        document
          .getElementsByTagName("head")[0]
          .appendChild(htmlDiv.childNodes[0]);
      }
    </script>
  </body>
</html>
